@using System.Security.Claims
@{
    var user = User as System.Security.Claims.ClaimsPrincipal;

    var userName = user.FindFirst("Username")?.Value;
    var role = user.FindFirst(ClaimTypes.Role)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Phoenix.Presentation.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="body-container">
        <nav>
            <ul>
                <li>
                    <a href="" class="@(role == "Guest"? "display-none":"")">
                        Administrator
                    </a>
                </li>
                <li>
                    <a href="" class="@(role == "Guest"? "display-none":"")">
                        Room
                    </a>
                </li>
                <li>
                    <a href="" class="@(role == "Guest"? "display-none":"")">
                        Inventory
                    </a>
                </li>
                <li>
                    <a href="" class="@(role == "Guest"? "display-none":"")">
                        Room Service
                    </a>
                </li>
                <li>
                    <a href="" class="@(role == "Guest"? "display-none":"")">
                        Reservation Log
                    </a>
                </li>
                <li>
                    <a href="" class="@(role == "Administrator"? "display-none":"")">
                        Booking
                    </a>
                </li>
                <li>
                    <a href="" class="@(role == "Administrator"? "display-none":"")">
                        My Room
                    </a>
                </li>
            </ul>
        </nav>
        <div class="body">
            <header class="header">
                <div>
                    <h4>
                        @RenderSection("breadcrumbs", true)
                    </h4>
                </div>
                <div>
                    <div>
                        <h4>
                            username - jobTitle
                        </h4>
                    </div>
                    <div>
                        <a href="" class="white-button"> Change Password</a>
                        <a href="" class="white-button"> Logout</a>
                    </div>
                </div>
            </header>
            <main>
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>